Plugins>CALM>GIANI, "GIANI", net.calm.calm.GIANI_.GIANI_
Plugins>CALM>GIANI, "GIANI Macro Extensions", net.calm.calm.GIANI_.GIANI_Macro_Extensions
Plugins>CALM>GIANI, "GIANI Results Browser", net.calm.calm.GIANI_.GIANI_Results_Browser
Plugins>CALM>BALM, "BALM Analysis", net.calm.calm.BALM_Analysis.BALM_Analysis
Plugins>CALM>FRAP, "FRAP Analysis", net.calm.calm.FRAP.FRAP_Analyser
Plugins>CALM>Particle_Analysis, "Particle Colocaliser", net.calm.calm.Particle_Analysis.Particle_Colocaliser
Plugins>CALM>Particle_Analysis, "Particle Mapper", net.calm.calm.Particle_Analysis.Particle_Mapper
Plugins>CALM>ROI_Fitting, "Multi-Well Plate Analyser", net.calm.calm.ROIFitter.Plate_Analyser
Plugins>CALM>Tracking, "Virus Tracker", net.calm.calm.Tracking_.Virus_Tracker
